.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-container {
  text-align: center;
}

.powered-by {
  font-family: var(--font-geist-mono);
}

.module-container {
  width: 70rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin: 25px 0;
}
.module-container > div:nth-child(5) {
  grid-column: 1 / -1;
  height: 10rem;
}
